body {
  background-image: url('VEILBG-FULL.png');
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

h1 {
  text-align: center; 
  color: #3890c8 ; 
  padding-top: 5px; 
  padding-bottom: 10px; 
  font-size: 32px; 
  border-bottom: #3890c8 4px solid; 
  overflow: hidden; 
  margin-left: 15%; 
  margin-right: 15%; 
  border-radius: 3px;
}

h2 {
  color: #80fcfd; 
  padding-top: 20px; 
  font-size: x-large; 
  margin-left: 5%;
}

ul, li, h3 {
  font-size: large; 
  font-family: 'Times New Roman', Times, serif; 
  padding: 5px; 
  color: whitesmoke; 
  margin-left: 5%; 
  margin-right: 5%;
}

h4 {
  font-size: large; 
  font-family: 'Times New Roman', Times, serif; 
  padding: 5px; 
  color: orange; 
  margin-left: 5%; 
  margin-right: 5%; 
  text-align: center;
}

a:link {
  color: #3890c8;

}
a:hover {
  color: black;
}

a:active {
  color: beige;
}

a:visited {
  color: greenyellow;
}

hr {
  border:#3890c8 3px solid; 
  margin-left: 15%; 
  margin-right: 15%; 
  border-radius: 3px;
}

footer {
  text-align: center; 
  padding-top: 25px;
}

code {
  font-family: Consolas,"courier new";
  color: #ffffff;background-color: rgb(0, 0, 0);
  padding: 2px;font-size: 105%;
}

img {
  display: block;
  max-width: 200px;
  height: auto;
}

figure {
  margin-left: 100px;
  color: #80fcfd;
}

figcaption {
  margin-top: 5px;
}